@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-image: linear-gradient(90deg, #86421b, #BF7C41);
    background-attachment: fixed;
}

h1 {
    font: bold 3em 'DM Serif Text', serif;
    color: #032340;
    text-align: center;
    text-shadow: 1px 1px #52281097;
}

h2 {
   font: 700 2em 'DM Serif Text', serif;
   color: #6CBAD9;
   text-shadow: 2px 2px #52281097;
}

p {
    font-family: 'Zalando Sans', sans-serif;
}

.texto {
    background-color: white;
    box-shadow: 0px 0px 50px #3d2815;
    width: 350px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    text-indent: 30px;
    text-align: justify;
    font-weight: 200;
    font-family: 'Zalando Sans', sans-serif;
}
