@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --cor0: #5971a88a;
    --cor1: #5080f0;
    --cor2: #565F75;
    --cor3: #3A3C42;
    --cor4: #222733;

    --fonte-destaque: 'Space Grotesk';
    --fonte-padrao: 'Roboto Condensed';
}

* {
    margin: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(180deg, var(--cor1), var(--cor2));
    min-height: 100px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    padding: 50px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.414);
}

nav {
    color: white;
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
    text-align: left;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.39);
}

nav a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main {
    background-color: white;
    max-width: 800px;
    padding-bottom: 5px;
    margin: 20px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.386);
    border-radius: 20px 20px 20px 20px;
}

main h1 {
    background-image: linear-gradient(90deg, var(--cor4), var(--cor1));
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 10px;
}

main h1.primeiro {
    border-radius: 20px 20px 0px 0px;
}

main p {
    line-height: 25px;
    font-family: sans-serif;
    text-indent: 30px;
    margin: 10px;
}

aside p {
    font-family: sans-serif;
    padding: 5px;
    line-height: 25px;
}

aside a {
    background-color: var(--cor1);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-destaque);
    color: black;
    border-radius: 10px;
}

aside a:hover {
    background-color: var(--cor4);
    color: white;
    transition: 0.3s;
}

aside img {
    margin-right: 10px;
}

footer {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}