@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --cor0: #5971a88a;
    --cor1: #5080f0;
    --cor2: #565F75;
    --cor3: #3A3C42;
    --cor4: #222733;

    --fonte-destaque: 'Space Grotesk';
    --fonte-padrao: 'Roboto Condensed';
}

* {
    margin: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(180deg, var(--cor1), var(--cor2));
    min-height: 100px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    padding: 50px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.414);
}

header > nav {
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 5px 10px 5px 10px;
}

header a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}

header a:hover {
    background-color: var(--cor4);
    color: var(--cor2);
}